html {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
  * {
    box-sizing: border-box;
  }

body {
  margin: 0;
}

/* Style the header */
.header {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  background-color: rgb(0, 0, 0);
  color:  rgb(91, 186, 221);
   text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav .logout{
  float: right;
  margin-right: 30px;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.welcome{
  
  text-align: center;
  
  margin: 20px;
}
.search input[type=text]{
              width:300px;
              height:25px;
              border-radius:30px;

              
              
}
.search{
   margin:20px;
   padding: 10px;
      
        	
}
.search input[type="text"] {
  background-color: rgb(91, 186, 221);
  
  /* Add other CSS rules for the search input */
}
.search button{
  
  height:25px;
  border-radius:30px;
    background-color: rgb(91, 186, 221);
    /* Add other CSS rules for the search input */
  }

  
.school_list1{
	margin: 20px;
    background-color: black;
  color:  rgb(91, 186, 221);
    width: 400px;
    border-radius:30px;
  }

  .school_list1 table {
    padding: 10px; 
  }
  
  .school_list1 th,
  .school_list1 td {
    padding: 10px; 
    text-align: center;
    vertical-align: middle;
  }
  .school_list1 a{
    color: rgb(150, 150, 18);
  }

  
  .school_list{
    margin: 20px;
      background-color: black;
    color:  rgb(91, 186, 221);
      width: 800px;
      border-radius:30px;
    }
.school_list table {
  padding: 10px; 
}

.school_list th,
.school_list td {
  padding: 10px; 
  text-align: center;
  vertical-align: middle;
}
.school_list a{
	color: rgb(150, 150, 18);
}

.login {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 
  color:  rgb(18, 11, 19);
  font-size: large;
  display: block;
  text-align: center;
  width: 500px;
  border: 10px;
  border-style: solid; 
  border-radius: 30px;
  border-width: 6px;
  padding: 50px;
  margin: auto;
  }

  
  .registration{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color:  rgb(18, 11, 19);
   
    display: block;
    text-align: center;
    width: 500px;
    border: 10px;
    border-style: solid; 
    border-radius: 30px;
    border-width: 6px;
    padding: 30px;
    margin: auto;
    margin-bottom: 20px;
  
  }
.conctact{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color:  rgb(18, 11, 19);
  display: block;
  text-align: center;
  width: 500px;
  border: 10px;
  border-style: solid; 
  border-radius: 30px;
  border-width: 6px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;

}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 50px;
  align-content: space-between;
}

.book {
  width: 30%;
  text-align: center;
  margin-bottom: 200px;
  
  }

.book img {
    width: 30%;
    max-height: 150px;
  }

.card{
  background: rgb(228, 140, 179);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color:  rgb(18, 11, 19);
  border: 10px solid rgb(18, 11, 19);
  padding: 20px;
  display: flex;
  margin-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 200px;
  border-style: solid; 
  border-radius: 30px;
  border-width: 6px;
  padding-top: 30px;
  padding-bottom: 50px;
  
}
.cover{
  width:150px;
  width: 30%;
  max-height: 200px;
  margin-left: 30px;
}

.details1{
  font-style: italic;
  color: #8B0000;
  margin-left: 40px;
  margin-right: -50px;
  width: 400px;
  
}

.details2{
  font-weight: bold;
  margin-left: 50pxΣ;
}
.edit-btn {
  background-color: rgb(238, 174, 202);
            color: rgb(6, 6, 6);
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
}

.edit-btn:hover {
  background-color: #64a8e1;
}

.hh{
  text-align: center;
}


form { display: inline; }

.btn{
  font-weight: bold;
  background: black;
  color: red;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  margin-right: 15px;
  margin-top: 10px;
}
h3.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom: 25px;
  
  
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
  
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
  background: rgb(228, 140, 179);
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
  
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
  
}

#fh2{
 padding: 2px 15px;
 color: black;
 text-align: center;
 
 
}

/* #fh6 {
 padding: 2px 15px;
 color: #4d0er;
 text-align: center;
 font-weight: normal;
} */

.pinfo {
 display:block;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom: 25px
}

.form-group {
  margin-bottom: 1rem;
  border-radius: 100px;
}
  
.form-control {
  
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  background-color: rgb(228, 140, 179);
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}


.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  color: black;
  margin-bottom: 20
  

  
}


.input-group-addon {
  margin-left: 80px;
  width: 100px;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: black;
  text-align: center;
  background-color: rgb(228, 140, 179);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}



.btn-primary {
  color: black;
  background-color: rgb(228, 140, 179);
  margin-left: 80px;;
  width: 100px;
  height: 35px;
  
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.super_admin {
  margin-left: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.submit-button {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.profile{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color:  rgb(18, 11, 19);
 
  display: block;
  
  width: 500px;
  border: 10px;
  border-style: solid; 
  border-radius: 30px;
  border-width: 6px;
  padding: 50px;
  margin: auto;
  margin-bottom: 20px;

}
.flash-messages {
  /* Add styles to the container */
  position: fixed; /* or absolute, relative, etc. depending on your needs */
  top: 650px; /* adjust the distance from the top */
  right: 50%; /* adjust the distance from the right */
  transform: translateX(50%);
  /* Add other styles as desired */
  background: black;
  color: red;
  padding: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.flash-messages1 {
  /* Add styles to the container */
  position: fixed; /* or absolute, relative, etc. depending on your needs */
  top: 120px; /* adjust the distance from the top */
  right: 50%; /* adjust the distance from the right */
  transform: translateX(50%);
  /* Add other styles as desired */

  color: red;
  padding: 10px;
  padding-top: 10px;
  
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}